<!-- <script src="/assets/libs/less.js/less.js"></script>
<script src="/assets/libs/artTemplate/template-web.js"></script>
<script src="/assets/libs/jquery/jquery.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.js"></script>
<script src="/assets/libs/jquery-cookie/jquery.cookie.js"></script>
<script src="/assets/js/common.js"></script> -->
<!-- <script src="/assets/js/base.js"></script> -->
<script src="/assets/libs/requirejs/require.js"></script>
<script src="/assets/js/config.js"></script>